<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="topic">Topic:</label>
                            <input type="text" class="form-control" id="topic">
                        </div>
                        <div class="form-group">
                            <label for="start-year">Start Year:</label>
                            <input type="number" class="form-control" id="start-year">
                        </div>
                        <div class="form-group">
                            <label for="end-year">End Year:</label>
                            <input type="number" class="form-control" id="end-year">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Results</div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Saved Articles</div>
                <div class="panel-body">Panel Content</div>
            </div>
        </div>
    </div>
</div>